/* Generic */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Arabic", sans-serif;
}
body{
    height: 3000px;
}
.container-fluid {
    width: 100%;
    overflow: hidden;
}
/* Navbar */
.py-1{
    padding: 1% 0;
}
nav{
   
    background-color: white;
    position:sticky;
    top: 0;
}
.navbar {
   
    width: 32%;
    display: inline-block;
    /* background-color: red; */
}

.navbar .logo {
    width: 22%;
    /* background-color: red; */
    margin-top: 2%;
    margin-left: 25%;
    /* padding-bottom: 2%; */
    vertical-align: middle;
    filter: invert();
}

.link {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #8D8D8D;
    padding: 0 1.8rem;
    /* background-color: green; */
}

.link:hover {
    color: #001F3F;
}

.navbar button {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    padding: 2.7% 10%;
    margin-left: 50%;
    border: none;
    color: white;
    background-color: #00A6FB;
    border-radius: 0.5rem;
}
button:hover{
    box-shadow: 0px 0px 5px black;
}

/* Screen1 */